header {
  padding: 1em calc(var(--ids__density) * 0.75em);
  margin-bottom: 3.5em;
}

.logo {
  & a {
    display: block;

    & svg {
      width: 6em;
      /* height: 3em; */

      & path {
        fill: rgba(var(--ids__accent-RGB), 1);
        fill-rule: evenodd;
      }
    }

    &:hover {
      & svg {
        & path {
          fill: rgba(var(--ids__hover-RGB), 1);
        }
      }
    }
  }
}

.main-screen {
  display: flex;

  @media (width < 767px) {
    flex-direction: column;
  }

  & .main-screen-title-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;

    @media (width < 767px) {
      width: 100%;
    }
  }

  & .main-screen-illustration-box {
    width: 60%;
    height: 60vh;
    max-height: 25em;
    min-height: 18em;
    background-color: rgba(var(--ids__accent-RGB), 1);

    @media (width < 767px) {
      width: 100%;
    }
  }
}

.cta-group {

  margin-top: 1em;
  display: flex;
  align-items: baseline;
  gap: 0.8em;


  & .cta-caption {
    opacity: 0.5;
    font-size: 0.6em;
  }
}

.ids {
  & a.cta-button-link {
    padding: 0.3em 0.6em;
    border-radius: 0.2em;
    color: white;
    text-decoration: none;
    background-color: rgba(var(--ids__accent-RGB), 1);

    &:hover {
      background-color: rgba(var(--ids__hover-RGB), 1);
    }
  }
}

.letter {
  display: flex;
  flex-direction: row-reverse;

  @media (width < 767px) {
    flex-direction: column;
  }

  & .letter-text {
    width: 70%;

    @media (width < 767px) {
      width: 100%;
    }
  }

  & .letter-author {
    width: 30%;
    display: flex;

    @media (width < 767px) {
      width: 100%;
      margin-bottom: 1em;
    }

    & .author-photo {
      width: 2.1em;
      height: 2.1em;
      margin-right: 0.3em;
      border-radius: 50%;
      overflow: hidden;
    }

    & .author-text {
      & .author-name {
        font-weight: 600;
        font-size: 0.9em;
      }

      & .author-caption {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.65em;
      }

    }
  }
}

.logos-and-reviews {
  display: flex;
  flex-wrap: wrap;

  & .logo {
    width: 20%;
    margin-bottom: 3em;

    &.long {
      & img {
        height: 0.8em;
        width: auto;
      }
    }

    &.horizontal {
      & img {
        height: 1.5em;
        width: auto;
      }
    }

    &.horizontal-S {
      & img {
        height: 1em;
        width: auto;
      }
    }

    &.vertical {
      & img {
        width: 1em;
        height: auto;
      }
    }

    &.square {
      & img {
        width: auto;
        height: 2em;
      }
    }

  }

  & .review {
    width: 80%;
    border-top: 1px solid rgba(var(--ids__text-RGB), 0.1);
    display: flex;

    @media (width < 767px) {
      flex-direction: column;
    }

    & .review-text {
      width: 70%;

      @media (width < 767px) {
        width: 100%;
      }
    }

    & .review-author {
      width: 30%;
      display: flex;

      @media (width < 767px) {
        width: 100%;
        margin-bottom: 1em;
      }

      & .author-photo {
        width: 2.1em;
        height: 2.1em;
        margin-right: 0.3em;
        border-radius: 50%;
        overflow: hidden;
      }

      & .author-text {
        & .author-name {
          font-weight: 600;
          font-size: 0.9em;
        }

        & .author-caption {
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.65em;
        }

      }
    }

  }
}



.footer {
  margin-top: 10em;
  position: relative;
  padding: 1em calc(var(--ids__density) * 0.75em) 0.5em;

  & .footer-columns {
    display: flex;

    & .footer-column {
      width: 12em;

      & ul {

        & li {
          padding: 0;

          &::before {
            content: '';
          }
        }
      }
    }
  }

  & .footer-bottom {
    margin-top: 10em;

    & ul {
      font-size: 0.8em;
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      margin-bottom: 0;

      & li {
        padding: 0;

        &::before {
          content: '';
        }
      }
    }
  }

  & .gdrp {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 3em;

    & img {
      filter: saturate(150%) hue-rotate(15deg);
    }

  }
}