{% extends 'layout.html' %} {% set pageTitle = 'Delivery Reports by Getplace' %} {% block content %}
<div class="ids__wrapper">
  <div class="main-screen">
    <div class="main-screen-title-box">
      <hgroup>
        <!-- <p>Delivery insight report</p> -->
        <h1>Delivery market reports for your locations</h1>
        <p>Set your own radius and get insights at both chain and store levels</p>
        <p><a href="#letter">Read more</a></p>
      </hgroup>
      <div class="ids__space S"></div>
      <div class="button-link-desktop">{% include 'button-link.html' %}</div>
    </div>
    <div class="main-screen-illustration-box">
      <div class="slides phase5">
        <div class="slide">
          <img src="./assets/slide1@2x.png" />
        </div>
        <div class="slide">
          <img src="./assets/slide2@2x.png" />
        </div>
        <div class="slide">
          <img src="./assets/slide3@2x.png" />
        </div>
      </div>
    </div>
    <div class="button-link-mobile">{% include 'button-link.html' %}</div>
  </div>
</div>
<div class="ids__wrapper" id="letter">
  <div class="ids__space M"></div>
  <div class="letter">
    <div class="letter-author">
      <div class="author-photo">
        <img src="./assets/photo_2025-07-03-16.08.01.jpg" />
      </div>
      <div class="author-text">
        <div class="author-name">Denis Chernobaev</div>
        <div class="author-caption">Founder at Getplace.io</div>
      </div>
    </div>
    <div class="letter-text">
      <p>Which chains are winning the food delivery race in Manchester?</p>

      <p>
        At Getplace, we continuously monitor the top 15 cities across the UK, like Manchester, to help restaurant brands stay on top of market dynamics. Our detailed reports reveal
        shifts in demand, category trends, and performance benchmarks against competitors + delivery spending data heatmaps.
      </p>

      <p>
        For example, in May, Wingstop UK (Lemon Pepper Holdings Ltd) led the pack in Manchester, outperforming even the largest global chains. And look at Burgerism? With only 4
        stores in the city, they are getting close to giants like McDonald's.
      </p>

      <p class="loud">These insights support our partners in making smarter expansion, marketing, and investment decisions — based on data, not guesswork.</p>

      <p>
        When you have access to delivery spend data for every restaurant in London, it’s fascinating to observe how demand shifts over time. You start to see who’s growing, who’s
        losing momentum, and how specific markets — like Spitalfields — are turning into major order magnets. These hubs create a win-win dynamic for restaurants, couriers,
        customers, and the platform alike.
      </p>
      <aside>
        <p>Interested in how your chain compares in your city? Try <a href="#form">delivery market report</a> for your location.</p>
      </aside>
    </div>
  </div>
</div>

<div class="ids__wrapper">
  <div class="ids__space XL"></div>
  <p>Getplace.io is trusted by businesses across the UK. Here’s what some of them have to say.</p>

  <div class="ids__space M"></div>

  {% include 'clients-and-reviews.html' %}
</div>

{% endblock %}
